* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.gridContainer {
	aspect-ratio: 1/1;
	width: 600px;
}

#newGridButton {
	padding: 5px 20px;
	margin: 10px 0 0;
}
#clearGridButton {
	padding: 5px 40px;
	margin: 10px 0 0;
}

/* .gridButtonContainer {
	display: flex;
} */

.modeButtonContainer {
	padding: 20px;
	display: flex;
	gap: 20px;
}
